{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %} 
    {% if messages %}
      {% for m in messages %}
        <small {% if m.tags %} class="{{m.tags}}" {% endif %}>{{m}}</small>
      {% endfor %}
    {% endif %}
    <form method="post" style="width: 50%; margin: auto" novalidate>
      <h1>Signup Page</h1>
      {% csrf_token %}
      <!-- {{form | crispy }} -->
      {% for fm in form%} {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
      {% endfor %}
      <br />
      <button class="btn btn-primary" type="submit">Submit</button>
      <br/>
      <small> Already have an account <a href="{% url 'login' %}">Login</a></small>
    </form>

{% endblock %}

